*{
    margin:0;
    color: rgb(107, 107, 106);
        font-family: monospace;

}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(78, 78, 78, 0.655);
    padding: 3rem;
  
}
#content-menu{
    
    display: flex;
    margin-left: 8rem;
}
#content-menu p{
    font-weight: 600;
    font-size: 1.2rem;
    margin: 0 1rem;
    color: rgba(255, 255, 255, 0.885);
    box-shadow: 0px 2px rgba(255, 255, 255, 0.497);
    cursor: pointer;
    padding: 0.3rem 0;

}
#content-menu p:hover{
     transition: 400ms;
        box-shadow: 0px 3px rgb(255, 255, 255);
        color: white;

}


 header h1{
    color: rgba(255, 255, 255, 0.931);
    margin-left: 3rem;
}
#content-titulo p{
    color: white;
    margin-top: 0.4rem;
        margin-left: 5.2rem;

}
section{
    height: 100vh;
    
    background-color: rgb(236, 236, 236);
  
}
#section2{
    background-color: white;
}

.content-botao{
    display: flex;
    justify-content: center;
    margin-top: -13.6rem;
}
.content-botao button{
    border:0;
    font-size: 1.2rem;
    font-weight: 900;
    border-radius: 1.5rem;
    background-color:#1a1919da;
    padding: 0.5rem;
    color: rgb(251, 251, 251);
    padding:0.7rem;
    width: 20rem;
    height: 3.6rem;
    cursor: pointer;
}
.content-botao button:hover{
    background-color: #3D4B49;

    transition: 400ms;
box-shadow: 1px 1px 5px black;


}
body{
    background: rgb(0, 0, 0);

}
#content-imagem-1{
    display: flex;
    justify-content: center;
    align-items: center;
        height: 100vh;


}
#imagem-destaque-1{
    margin: 3rem 2rem;
    height: 30rem;
    border-radius: 1rem;
    box-shadow: 0.0rem 0.1rem 0.3rem 0.1rem rgb(59, 59, 59);
    object-fit: cover;
  
}
#content-beneficios{

}
#content-beneficios h2{
    width: 22rem;
        font-size: 1.5rem;

    color: #1a1919;
    margin-left: 5rem;
    margin-bottom: 2.2rem;
    box-shadow:  0px 1px  black;
    padding: 0.6rem;
}
#content-beneficios > ul li{
    font-size: 1.4rem;
    margin: 1.6rem 0;
    color: rgb(0, 0, 0);
    list-style: none;
    
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 12rem;
    background: #333333;
    padding: 1rem;
}

footer div {
    display: flex;
    justify-content: center;
    margin: auto;
}
footer div p{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;



    color: white;
    width: 21.6rem;
    margin: auto 1.6rem;
    font-size: 1.1rem;
}
footer div img{
    margin:0  0.7rem;
} 
#redes{
    margin-top: 2.6rem;
}
#redes img:hover{
    object-fit: fill;
    transform: scale(1.1);
    cursor: pointer;
}
 